<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Cabbash.ai</title>
    
    <!-- Bootstrap CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/jquery-ui.css" rel="stylesheet">
    <!-- Bootstrap Icon CSS -->
    <link href="~/css/bootstrap-icons.css" rel="stylesheet">
    <!-- CSS -->
    <link href="~/css/animate.min.css" rel="stylesheet">
    <!-- FancyBox CSS -->
    <link href="~/css/jquery.fancybox.min.css" rel="stylesheet">
    <!-- Nice Select CSS -->
    <link rel="stylesheet" href="~/css/nice-select.css">
    <!-- Swiper slider CSS -->
    <link rel="stylesheet" href="~/css/swiper-bundle.min.css">
    <!-- Slick slider CSS -->
    <link rel="stylesheet" href="~/css/slick.css">
    <link rel="stylesheet" href="~/css/slick-theme.css">
    <link rel="stylesheet" href="~/css/daterangepicker.css">
    <!-- BoxIcon CSS -->
    <link href="~/css/boxicons.min.css" rel="stylesheet">
    <!-- Calendar CSS -->
    <link rel="stylesheet" href="~/css/calendar-css.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/main.css">
    
    <link rel="icon" href="https://cf.bstatic.com/static/img/b25logo/favicon/ebc77706da3aae4aee7b05dadf182390f0d26d11.ico" type="image/gif" sizes="20x20">
</head>
<body class="tt-magic-cursor @ViewData["BodyClass"]">
    <div id="magic-cursor">
        <div id="ball"></div>
    </div>

    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
        <svg class="arrow" width="22" height="25" viewBox="0 0 24 23" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.556131 11.4439L11.8139 0.186067L13.9214 2.29352L13.9422 20.6852L9.70638 20.7061L9.76793 8.22168L3.6064 14.4941L0.556131 11.4439Z" />
            <path d="M23.1276 11.4999L16.0288 4.40105L15.9991 10.4203L20.1031 14.5243L23.1276 11.4999Z" />
        </svg>
    </div>

    <div class="topbar">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    <h3 class="mb-0">Cabbash.ai</h3>
                </a>
                <button class="navbar-toggler custom-toggler collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <div class="d-flex ms-auto top-right">
                        <a href="#" class="btn btn-light custome-btn text-prime">
                            <i class="bi bi-person-circle me-2"></i>Register
                        </a>
                        <a href="#" class="btn btn-light custome-btn text-prime">
                            <i class="bi bi-door-open-fill me-2"></i>Login
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <main>
        @RenderBody()
    </main>

    <footer class="footer-section">
        <div class="container">
            <div class="footer-menu-wrap">
                <div class="row gy-md-4 gy-5">
                    <div class="col-lg-3 col-md-4 col-sm-6 d-flex justify-content-md-start">
                        <div class="footer-widget">
                            <div class="widget-title">
                                <h5>Support</h5>
                            </div>
                            <ul class="widget-list">
                                <li><a href="">Manage your trips</a></li>
                                <li><a href="">Contact Customer Service</a></li>
                                <li><a href="">Safety resource centre</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 d-flex justify-content-md-start">
                        <div class="footer-widget">
                            <div class="widget-title">
                                <h5>Discover</h5>
                            </div>
                            <ul class="widget-list">
                                <li><a href="">Genius loyalty programme</a></li>
                                <li><a href="">Seasonal and holiday deals</a></li>
                                <li><a href="">Travel articles</a></li>
                                <li><a href="">Cabbash.ai for Business</a></li>
                                <li><a href="">Traveller Review Awards</a></li>
                                <li><a href="">Car hire</a></li>
                                <li><a href="">Restaurant reservations</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 d-flex justify-content-md-start">
                        <div class="footer-widget">
                            <div class="widget-title">
                                <h5>Terms and settings</h5>
                            </div>
                            <ul class="widget-list">
                                <li><a href="">Privacy Notice</a></li>
                                <li><a href="">Terms of Service</a></li>
                                <li><a href="">Accessibility Statement</a></li>
                                <li><a href="">Grievance officer</a></li>
                                <li><a href="">Modern Slavery Statement</a></li>
                                <li><a href="">Human Rights Statement</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 d-flex justify-content-lg-start">
                        <div class="footer-widget">
                            <div class="widget-title">
                                <h5>About</h5>
                            </div>
                            <ul class="widget-list">
                                <li><a href="">About Cabbash.ai</a></li>
                                <li><a href="">How we work</a></li>
                                <li><a href="">Sustainability</a></li>
                                <li><a href="">Press centre</a></li>
                                <li><a href="">Careers</a></li>
                                <li><a href="">Investor relations</a></li>
                                <li><a href="">Corporate contact</a></li>
                                <li><a href="https://www.google.com/maps">Sitemap</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="copyright-and-payment-method-area">
                    <p>
                        Cabbash.ai is part of Booking Holdings Inc., the world leader in online travel and related services.
                        Copyright © 1996–@DateTime.Now.Year Cabbash.ai™. All rights reserved.
                    </p>
                    <div class="payment-method-area">
                        <span class="text-white">Cabbash.ai</span>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Main jQuery -->
    <script src="~/js/jquery-3.7.1.min.js"></script>
    <script src="~/js/jquery-ui.js"></script>
    <script src="~/js/moment.min.js"></script>
    <script src="~/js/daterangepicker.min.js"></script>
    <!-- Popper and Bootstrap JS -->
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <!-- Swiper slider JS -->
    <script src="~/js/swiper-bundle.min.js"></script>
    <script src="~/js/slick.js"></script>
    <!-- Waypoints JS -->
    <script src="~/js/waypoints.min.js"></script>
    <!-- Counterup JS -->
    <script src="~/js/jquery.counterup.min.js"></script>
    <!-- Nice Select JS -->
    <script src="~/js/jquery.nice-select.min.js"></script>
    <!-- Wow JS -->
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/range-slider.js"></script>
    <!-- Gsap JS -->
    <script src="~/js/gsap.min.js"></script>
    <script src="~/js/ScrollTrigger.min.js"></script>
    <script src="~/js/jquery.fancybox.min.js"></script>
    <!-- Custom JS -->
    <script src="~/js/select-dropdown.js"></script>
    <script src="~/js/helper.js"></script>
    <script src="~/js/custom-range-calendar.js"></script>
    <script src="~/js/custom.js"></script>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
